
@font-face {
  font-family: 'roboto'; /* Font family name */
  src: url('../../../../public/Font/Roboto/Roboto-Black.ttf') format('truetype'); /* Relative path to the font file */
}

.header {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  font-family: 'roboto' , sans-serif; 
}

  
 